body{
    overflow-x: hidden;
}

.navbarr{
    background-color: white !important;
    font-size: 15px;
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 5;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 10px;
}
.m{
    text-decoration: none;
    color: #22272b;
    margin-right: 30px;
}
.m:hover{
    text-decoration: none;
    color: #22272b;
    margin-right: 30px;
}
#sign,#log{
    color: #22272b;
    margin-left: 7px;
}
#sign:hover,#log:hover{
    text-decoration: none;
}
.sub{
    width: 230px;
    height: 42px;
    border-radius: 200px;
    background-color: #9e0036;
    border: none;
    color: white;
    font-weight: 800;
    margin-top: 15px;
}
.sub:hover{
    background-color: white;
    color: #9e0036;
}
.navbarr p{
    padding-left:40px;
    margin-bottom: 0;
    font-family:  'Rubik', sans-serif;
}
.ni{
    color: #9e0036;
    background-color: #f8f7f3;
    padding: 25px;
    border-radius: 50%;
    font-size: 20px;
}
.fir{
    padding-left: 150px;
}
.M{
    padding-left:30px;
}
.mail{
    text-decoration: none;
    color: black;
    margin-left: 25px;
}
.mail:hover{
    text-decoration: none;
    color: black;
}
.mail1{
    margin-left: -15px;
}
.icn{
    font-size: 15px;
    color: #71758d;
    background-color: #f8f7f3;
    padding: 10px;
    border-radius: 50%;
}
.icn:hover{
    background-color: #ffdc78;
    color: #22272b;
}

/* services */
.service i{
    font-size: 50px;
    padding: 20px;
}
.service1{
    background-color: #9e0036;
    padding: 80px 50px;
    color: white;
}
.service1 p{
    color:#ffffffb6;
}
.service1 .ba{
    color: white;
}
.service2{
    background-color: #ffdc78;
    padding: 80px 50px;
}
.service2 p{
    color:#22272bb9;
}
.service2 .ba{
    color: #22272b;
}
.service3{
    background-color: #f8f7f3;
    padding: 80px 50px;
}
.service3 p{
    color:#22272bb9;
}
.service3 .ba{
    color: #22272b;
}
.ba:hover{
    text-decoration: none;
}
.service p{
    margin-bottom: 30px;
    margin-top: 15px;
}

.servicess{
    margin-top: 100px;
    margin-bottom: 100px;
}
.txt{
    padding-top: 20px;
    width: 350px;
    padding-left: 20px;
}
.txt p{
    color: #7e8484;
    padding-top: 10px;
    padding-bottom: 10px;
}
.servicess img{
    width: 380px;
    margin: 0;
    filter: grayscale(100%);
}
.division{
    border: 1px solid #ecebe3;
    padding: 0;
    margin-top: 30px;
}
#div1:hover img{
    filter: grayscale(0%);
}
#div2:hover img{
    filter: grayscale(0%);
}
#div3:hover img{
    filter: grayscale(0%);
}
.servicess .row{
    margin: 0;
    margin-right: 0px;
}
#div1{
    position: relative;
    right: 20px;
}
#div3{
    position: relative;
    left: 20px;
}
.servicess h3, .reason h3, .doctors h3{
    color: #9e0036;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2px;
}

/* reason */
.reason{
    margin-top: 100px;
    padding-bottom: 20px;
}

/* doctors */
.c{
    margin-left: 70px;
}
.img1{
    position: relative;
    left: 15px;
}
.cir{
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    background-color: black !important;
}
.text1{
    margin-left: 10px;
    margin-top: 15px;
}